.jumbotron {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height:100%;
}

body {
  padding-top: 3.5rem;
}

.post-container {
    padding: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

 .page-container {
    padding: 30px;
 }

.navbar-logo {
    width: 30px;
    height: 30px;
}

#author-img {
    width: auto;
}

.logo-img {
    max-height: 30px;
}

.project-card
{
    min-height: 300px;
}

.project-img
{
    max-width: 300px;
}

