---
layout: default
---
<div class="container post-container">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

            <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2> {%- assign cate = site.pages | where: "title", page.category -%} {%- if cate.size > 0 -%}
            <p><a class="badge badge-dark" href="{{cate[0].url}}"> {{cate[0].title}} </a></p> {%- endif -%}
                {%- if page.description -%}
                <p class="description text-muted">{{ page.description }}</p>
                {%- endif -%}

                {%- if page.github -%}
                <p><a class="text-muted" target="_blank" href=" {{ page.github }} "> <i class="fab fa-github-square"></i> {{ page.title | escape }} </a></p>
                {%- endif -%}


              <hr />


              <div class="post-content e-content" itemprop="articleBody">
                  {{ content }}
              </div>


        </div>
        <div class="col-1">
        </div>

    </div>

</div>
